body {
    background-color: #0a0a0a;
    font-family: 'Audiowide', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#tabs-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab {
    background-color: #1f1f1f;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    color: #7fff00;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: color 0.3s, background-color 0.3s;
}

.tab::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(127, 255, 0, 0.4), rgba(255, 0, 255, 0.4));
    z-index: 0;
    transition: opacity 0.3s;
    opacity: 0;
    border-radius: 5px;
}

.tab:hover::before, .tab.active::before {
    opacity: 1;
}

.tab:hover, .tab.active {
    color: #ffffff;
}

#days-container {
    display: flex;
    gap: 10px;
}

.day-button {
    background-color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.9em;
    color: #ff00ff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: color 0.3s, background-color 0.3s;
}

.day-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(255, 0, 255, 0.4), rgba(0, 255, 255, 0.4));
    z-index: 0;
    transition: opacity 0.3s;
    opacity: 0;
    border-radius: 5px;
}

.day-button:hover::before, .day-button.active::before {
    opacity: 1;
}

.workout-details {
    margin-top: 20px;
    background-color: #121212;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(127, 255, 0, 0.5);
    color: #00ffea;
}

.workout-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-shadow: 0 0 5px #7fff00;
}

.workout-section {
    margin-bottom: 15px;
}

.workout-section-title {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #ff00ff;
    text-shadow: 0 0 5px #ff00ff;
}

.workout-item {
    margin-left: 20px;
    list-style-type: none;
}

.day-button:hover, .day-button.active {
    color: #ffffff;
}
